<!DOCTYPE html>
<html>
<head>
    <title>CMPE 273 - Project</title>
    <!--First try for the online version of jQuery-->

    <script src="http://code.jquery.com/jquery.js"></script>
<!-- If no online access, fallback to our hardcoded version of jQuery -->

    <script>
window.jQuery || document.write('<script src="/javascripts/jquery-1.8.2.min.js"><\/script>')
    </script><!-- Custom JS -->

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><!-- Bootstrap CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <script src="/javascripts/modernizr-2.6.2.min.js"></script>
    
    <script src="/javascripts/loadbalscript.js"></script>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="/">  </a>
       <p style=" text-indent: 16em;"> 
     <a href="/"> <button type="button" class="btn btn-default navbar-btn"> Reverse-Proxy </button> </a>
      
	<a href="/simpleProxy"> <button type="button" class="btn btn-default navbar-btn"> Simple-Proxy </button> </a>
   
    <a href="/gzip"> <button type="button" class="btn btn-default navbar-btn">   GZIP </button> </a>
        
    <a href="/changeresponse"> <button type="button" class="btn btn-default navbar-btn"> Change-Response Proxy</button> </a>
    
    <a href="/websocketproxy"> <button type="button" class="btn btn-default navbar-btn"> Web-Socket Proxy</button> </a>
    
    <a href="/loadBalancer"> <button type="button" class="btn btn-success"> <strong>Load Balancer</strong></button> </a>

    <a href="/httpTohttps"> <button type="button" class="btn btn-default navbar-btn"> HTTP-Secure</button> </a>
    </p>
    </div>
  </div>
 </nav>
  <div class="container" id="main">
            <div class="carousel slide" id="myCarousel">
                <!-- Indicators -->

                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#myCarousel"></li>

                    <li class="active" data-slide-to="1" data-target=
                    "#myCarousel"></li>

                    <li data-slide-to="2" data-target="#myCarousel"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="proxy1" class="img-responsive" src=
                        "images/one.jpg">

                        <div class="carousel-caption">
                            <h4>CMPE 273 - PROXY SERVER</h4>
                        </div>
                    </div>

                    <div class="item">
                        <img alt="proxy1" class="img-responsive" src=
                        "images/two.jpg">

                        <div class="carousel-caption">
                            <h4>CMPE 273 A- WEB SERVICES PROJECT</h4>
                        </div>
                    </div>

                    <div class="item">
                        <img alt="proxy1" class="img-responsive" src=
                        "images/three.jpg">

                        <div class="carousel-caption">
                            <h4>CMPE 273 B- WEB SERVICES PROJECT</h4>
                        </div>
                    </div>
                </div><!-- closing inner carousel --><a class=
                "carousel-control left" data-slide="prev" href=
                "#myCarousel"><span class="icon-prev"></span></a> <a class=
                "carousel-control right" data-slide="next" href=
                "#myCarousel"><span class="icon-next"></span></a>
            </div><!-- end myCarousel -->
    
                    <div class="container">
                        <!-- Load Balancer LIST-->
                        <section>
                        <div class = "row">
                        <div id="AddLoadBalancer">
                            <h2>Load Balancer</h2>

                            <table border="1" class="table table border" id="lbconfigtable">
                                <thead>
                                    <tr>
                                        <th width="50%">Instance URL</th>

                                        <th width="50%">Instance Port</th>
                                     </tr>
                                </thead>
                                <tbody>
                             
                              </tbody>
                            </table>
                            <div class="modal-footer">
                            <button class="btn btn-primary" id="btnAddConfig" type="button">Add</button>
                            <button class="btn btn-primary" id="btnRemoveConfig" type="button">Remove</button>
                            </div>
                         </div><!-- /Load Balancer list-->
                           <div class="modal-footer">
                            <button class="btn btn-primary" id="btnAddProxy" type="button">SAVE</button>
                        </div><!-- end of model footer -->
                    </div>
                </section>
            </div><!--row ended -->
            <!-- container ended -->

              <!-- LIST -->

         <div class="container" id="loadbalancelist">
                <section>
                    <h4 style="text-align: center"><strong>Load Balancers</strong></h4>

                    <div class="row">
                        <!-- PROXY LIST-->

                        <div id="loadbalancelist">
                            <h2>Loadbalance List</h2>
                            <table border="1" class="table table border">
                                <thead>
                                    <tr>
                                        <th width="20%">Action</th>

                                        <th width="5%">Configuaration Id</th>

                                        <th width="25%">Instances</th>

                                        <th width="25%">ProxyURL</th>

                                        <th width="5%">Status</th>

                                        <th width="20%">Action</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>
                        </div><!-- /PROXY LIST-->
                         <div class="modal-footer" style="text-align:right">
                            <button class="btn btn-primary" id="btnRefresh"
                            type="button">REFRESH</button>
                        </div>
                    </div>
                </section>
            </div><!--row ended -->


    <div class="container">
        <div class="line" id="line">
            <p>
            _____________________________________________________________________________________________________________________________________________________</p>
        </div><!-- line class ends here -->
    </div><!-- class container ends here -->
    <!--First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script> 
<!-- If no online access, fallback to our hardcoded version of jQuery -->
     <script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script> <!-- Bootstrap JS -->
     <script src="/javascripts/bootstrap.min.js"></script> <!-- Custom JS -->
     <script src="/javascripts/script.js"></script> <script src="/javascripts/bootstrap.js"></script> <script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- <script src="/javascripts/global.js"></script> -->
</body>
</html>