<html>
   <script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script>
   <head>
      <title>Node Http Proxy Server - Load Balancer</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <style type="text/css"></style>
   </head>
   <body>

      <h1>Node Http Proxy Server</h1>
      <h3>Load Balancer Configuration</h3>

<div id="wrapper">
      <div id="main">
        <input type="button" id="btAdd" value="Add Element" />
       <!-- <input type="button" id="btRemove" value="Remove Element" />
        <input type="button" id="btRemoveAll" value="Remove All" /><br /> -->
      </div>

      <div id="showLoads">
            <input type="button" id="btnStartBalancer" value = "Start Load Balancer">
      </div>
</div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="/javascripts/dynamic.js"></script>
   </body>
</html>
